<gale-header 
	class="gale-header" 
	layout="row" 
	layout-align="start center" 
	ng-transclude>
</gale-header>

<gale-body class="gale-body" ng-if="source.length>0">
	<div class="loading" ng-if="isLoading">
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
	</div>
	<row 
		layout="row" 
		class="gale-row" 
		ng-click="onRowClick(item)" 
		layout-align="start center" 
		ng-repeat="item in source" 
		x="{{$index}}" 
		formatters="$$formatters" 
		item="item">
	</row>
</gale-body>


<gale-empty class="gale-empty" layout="column"  layout-align="center center">
</gale-empty>